@media screen and  (max-width: 767px) {
  .ant-tabs {
    display: flex;
    flex-direction: column !important;
  }

  .ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-operations,
  .ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-operations,
  .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-operations,
  .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-operations {
    display: flex;
    flex-direction: revert;
  }
}
