


.App {
  text-align: center;
}

input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}


select{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.L{
  float: left;
}
.R{
  float: right;
}
.AAA{
  color: black
}
  .center {
    margin: auto;
    width: 50%;
    border: 1px solid rgb(40, 77, 3);
    
    width: 600px;
    padding: 20px;
  };
  .OM{
    text-align: center;
  }
.ant-card-bordered {
  border: 1px solid #f0f0f0;
  border-bottom: 5px solid lime !important;
}

 .ant-card-body{
  padding: 18px 24px !important;
 }
 .ant-tabs-nav-wrap
 {
   background-color: #f5f5f5;
 }
 /* .ant-card-body{
  border-bottom: 2px solid red;
 } */
 
 .ant-card-meta {
  margin: -10px 0;
}